.connect-wallet {
  $default-x-padding: 0.9375rem;
  $default-y-padding: 0.625rem;

  background-color: unset;
  border: 0.0625rem solid var(--primary);

  padding: $default-y-padding $default-x-padding;

  &:hover {
    background-color: var(--primary);
    color: var(--black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: calc($default-y-padding + 0.3125rem)
      calc($default-x-padding + 0.625rem);
  }

  &:not(:hover) {
    transition: all 0.2s ease-in-out;
  }
}
