@import "../../../../../styles/breakpoints.scss";

.action-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-3);
}

@media screen and (max-width: $sm) {
  .action-buttons {
    grid-template-columns: repeat(1, 1fr);
  }
}
