.raffle-card {
  padding: 25px;
  background-color: #1c1c1c;
  border: 0.1875rem solid #c8ff3c14;
  box-shadow: 2px 2px 30px #000;
  border-radius: 0.3125rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
