@import "../../../../styles/breakpoints.scss";

.raffle-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media screen and (max-width: $sm) {
  .raffle-card {
    padding: 0.9375rem;
    min-width: 70%;
  }
}
