.raffle-information {
  display: flex;
  flex-direction: column;
  padding: 0.625rem 0;

  & > .information {
    display: flex;
    gap: 0.625rem;

    & > p {
      margin: 0.3125rem 0;
    }
  }
}
