@import "../../../../../styles/breakpoints.scss";
@import "../../../../../styles/colors.scss";

.raffle-information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "enter-fee interval players tickets"
    "last-winner last-winner last-winner last-winner";
  gap: 0.625rem;

  & > .raffle-information-card {
    padding: 2.5rem 3.125rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;

    background-color: #15151598;
    border: 0.125rem solid #ffffff28;
    border-radius: 0.3125rem;

    & > p {
      margin: 0;
    }

    & > .value {
      font-family: "Inter-SemiBold", sans-serif;
      font-size: 20px;
    }
  }

  & > .enter-fee {
    grid-area: enter-fee;
  }

  & > .players {
    grid-area: players;
  }

  & > .last-winner {
    grid-area: last-winner;
  }

  & > .tickets {
    grid-area: tickets;
  }

  & > .interval {
    grid-area: interval;
  }
}

@media screen and (max-width: $sm) {
  .raffle-information {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "enter-fee"
      "interval"
      "players"
      "tickets"
      "last-winner";
    gap: 0.3125rem;

    & > .raffle-information-card {
      padding: 20px;
    }
  }
}

@media screen and (min-width: calc($sm + 0.0625rem)) and (max-width: $lg) {
  .raffle-information {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "enter-fee interval"
      "players tickets"
      "last-winner last-winner";
    gap: 0.3125rem;
  }
}
