@import "../../../../../styles/breakpoints.scss";

@import "@radix-ui/colors/iris.css";

.raffle-information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "enter-fee interval players tickets"
    "last-winner last-winner last-winner last-winner";
  gap: var(--space-3);

  & > .raffle-information-card {
    background-color: var(--iris-2);
    padding: var(--space-4) var(--space-5);

    .value {
      font-size: var(--font-size-5);
    }
  }

  & > .enter-fee {
    grid-area: enter-fee;
  }

  & > .players {
    grid-area: players;
  }

  & > .last-winner {
    grid-area: last-winner;
  }

  & > .tickets {
    grid-area: tickets;
  }

  & > .interval {
    grid-area: interval;
  }
}

@media screen and (max-width: $sm) {
  .raffle-information {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "enter-fee"
      "interval"
      "players"
      "tickets"
      "last-winner";

    .raffle-information-card {
      .value {
        font-size: var(--font-size-3);
      }
    }
  }
}

@media screen and (min-width: calc($sm + 0.0625rem)) and (max-width: $lg) {
  .raffle-information {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "enter-fee interval"
      "players tickets"
      "last-winner last-winner";

    & > .raffle-information-card {
      padding: var(--space-2) var(--space-3);

      .value {
        font-size: var(--font-size-4);
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .raffle-information {
    & > .raffle-information-card {
      padding: var(--space-1) var(--space-2);
    }
  }
}
