@import "../../../styles/colors.scss";

.button {
  background-color: unset;
  border: 0.0625rem solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.625rem 0.9375rem;

  &:hover:enabled {
    background-color: $primary;
    color: $black;
    cursor: pointer;
  }

  &:disabled {
    border: 0.0625rem solid $light-grey;
    color: $light-grey;
    cursor: not-allowed;
  }
}
