@import "../../../styles/colors.scss";

.button {
  background-color: $white;
  color: $black;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Inter-SemiBold", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 15px;

  &:hover:enabled {
    background-color: $light-grey;
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
