.app {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > .app-children {
    border: 1px solid var(--primary);
    padding: 25px;
  }
}
