@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../../assets/fonts/Inter/static/Inter-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/iris-dark.css";

body {
  font-family: "Inter-Regular", sans-serif;
  margin: 0;
}

.toast {
  background-color: #15151598 !important;
  border: 0.125rem solid #ffffff28 !important;
  color: var(--iris-1) !important;
  width: fit-content !important;
}
