@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../../assets/fonts/Inter/static/Inter-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@import "./colors.scss";

body {
  background-color: $black;
  color: $white;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  margin: 0;
}

.toast {
  background-color: $dark-grey !important;
  border: 2px $grey solid !important;
  color: $white !important;
}
